@model Riktig.Web.Models.GetImagesViewModel

@{
    ViewBag.Title = "Get Images";
}

<h2>Request Image</h2>


@using (Ajax.BeginForm("RequestImages", "Image", new AjaxOptions{ HttpMethod="POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "results"}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Address</legend>
        
        @for (var i = 0; i < 5; i++)
        {
            <div class="editor-label">
                @Html.LabelFor(model => model.SourceAddress)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.SourceAddress[i])
                @Html.ValidationMessageFor(model => model.SourceAddress[i])
            </div>
        }
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Ajax.ActionLink("Dogs and Cats", "RequestImages", new { 
        SourceAddress = new[] 
            { 
                "http://i.imgur.com/Iroma7d.png", "http://i.imgur.com/NK8eZUe.jpg"
            } 
        }, new AjaxOptions
            {
                HttpMethod = "POST",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "results"
            })
</div>


<div>
    <br/>
    @Html.ActionLink("Back to Pending Images", "Index")
</div>

<div id="results">
    
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}